<div>
    <div class="row">
        <button class="btn btn-warning pull-right" ng-click="reload()">刷新</button>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2 col-xs-2 col-sm-2" for="x">x</label>
            <input id="x" type="text" class="col-md-3 col-xs-3" ng-model="params.x">
            <label class="control-label col-md-2 col-xs-2" for="y">y</label>
            <input id="y" type="text" class="col-md-3 col-xs-3" ng-model="params.y">
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success" ng-click="start()">开始</button>
        <button class="btn btn-success" ng-click="stop()">停止</button>
        <button class="btn btn-success" ng-click="continue()">继续</button>
    </div>
</div>