<div>
    <div class="row">
        <button class="btn btn-warning pull-right" ng-click="reload()">刷新</button>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-2">
                <label class="control-label" for="speed">演化速度</label>
            </div>
            <div class="col-xs-3">
                <select id="speed" ng-options="v as v for v in [1,2,3,4]" ng-model="params.speed" class="form-control" ng-change="changeSpeed()"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-2">
                <label class="control-label" for="exampleSel">测试设置</label>
            </div>
            <div class="col-xs-3">
                <select id="exampleSel" ng-options="v as v for v in [1,2,3,4]" ng-model="params.exampleSel" class="form-control"></select>
            </div>
            <div class="col-xs-2">
                <label class="control-label">边界条件</label>
            </div>
            <div class="col-xs-3">
                <select class="form-control" ng-options="v.value as v.name for v in cyclicOptionList" ng-model="params.cyclic" ng-change="boundaryConditionChanged()"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success" ng-click="animate()">开始</button>
        <button class="btn btn-success" ng-click="continueAnimate()">继续</button>
        <button class="btn btn-success" ng-click="stopAnimate()">停止</button>
    </div>
</div>